<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>

    <!-- Google JS -->
    <script src="https://cdn.jsdelivr.net/gh/google/code-prettify@master/loader/run_prettify.js"></script>

    <!-- Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.5.1.js" integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc=" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.2/js/bootstrap.bundle.min.js" integrity="sha512-kBFfSXuTKZcABVouRYGnUo35KKa1FBrYgwG4PAx7Z2Heroknm0ca2Fm2TosdrrI356EDHMW383S3ISrwKcVPUw==" crossorigin="anonymous"></script>

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

    <!-- Custom Bootstrap CSS -->
    <link rel="stylesheet" href="/static/css/grid.css" />
    <link rel="stylesheet" href="/static/css/bootstrap-side-modals.css" />

    <!-- Prettify CSS -->
    <link rel="stylesheet" type="text/css" href="/static/css/git.css">

    <!-- Icons -->
    <script src="https://kit.fontawesome.com/99043d701d.js" crossorigin="anonymous"></script>

    <!-- Markdown editor JS and CSS -->
    <script src="https://cdn.jsdelivr.net/simplemde/latest/simplemde.min.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/simplemde/latest/simplemde.min.css">

    <!-- Bootstrap select -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-select@1.13.14/dist/css/bootstrap-select.min.css">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap-select@1.13.14/dist/js/bootstrap-select.min.js"></script>

</head>
<body>


<div class="modal-header">
    {%if new_comment==True%}<h5 class="modal-title" id="exampleModalLabel">New comment line {{line.line_number}}</h5>{%endif%}
    {%if new_comment==False%}<h5 class="modal-title" id="exampleModalLabel">Edit comment line {{line.line_number}}</h5>{%endif%}

    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
</div>

<div class="modal-body">
    {% if new_comment == True %}
    <form action="{{ url_for('main.add_comment', line_key = line.unique_key) }}" method="post">
    {% endif %}
    {% if new_comment == False %}
        <form action="{{ url_for('main.edit_comment', comment_key = comment_key, secret_key = secret_key) }}" method="post">
    {% endif %}

    <textarea id="comment_contents" name="comment_contents">{{contents}}</textarea>
<br>
    <button type="submit" class="btn btn-primary" >Submit</button>
    <button type="button" class="btn btn-danger" data-dismiss="modal">Discard</button>


</div>


</body>

<script>
    $(function () {
        $('select').selectpicker();
    });
</script>
<script>
    new SimpleMDE({
        element: document.getElementById("comment_contents"),
        placeholder: "Type comment here - markdown works...",
        status: false,
        toolbar: ["bold", "italic", "strikethrough", "code", "unordered-list", "link"],
    });
</script>

</html>